@import './Global.scss';


.profile {
    .sections {
        margin-left: 7%;
        height: 100vh;
        background-color: $background;
    }
}

@media screen and (max-width : 890px) {
    .profile .sections {
        margin-left: 0%;
    }

}