@import '../sass/Global.scss';


.topTracks {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 5rem;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    background-color: $background;

    .titles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        span {
            font-weight: bold;
            font-size: 2.5rem;
        }

        .sorting {
            display: flex;
            gap: 3rem;
            cursor: pointer;
            font-size: 1.5rem;

            .selected {
                text-decoration: underline solid $spotify;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 85vw;


        .eachTrack {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1rem;
            font-weight: 500;

            img {
                width: 6rem;
                height: 5rem;
            }

            .track-artist-name{
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }
    }
}