@import '../sass/Global.scss';

.trackFeatures {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
    padding: 7rem;
    font-family: 'Didact Gothic', sans-serif;



    .track-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0.5;

        img {
            width: 16rem;
            height: 15rem;
        }

        .trackDetails {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            color: gray;

            .track-name {
                font-size: 3rem;
                font-weight: bold;
                color: white;
            }

            .artist-name {
                font-size: 2rem;
                font-weight: bold;
            }

            button {
                background-color: $spotify;
                color: white;
                border: 1px solid $spotify;
                border-radius: 30px;
                padding: 12px 30px;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 3px;
                text-transform: uppercase;
                text-align: center;

                &:hover,
                &:focus {
                    transition: all .5s;
                    background-color: #07d452;
                    color: black;
                }
            }
        }
    }

    .chart {
        flex: 0.5;
        width: 20rem;
    }
}


@media screen and (max-width : 890px) {

    .trackFeatures {
        flex-direction: column;
        gap: 1rem;

        .track-container {
            img {
                width: 10rem;
                height: 10rem;
            }

            .trackDetails {

                gap: 1rem;


                .track-name {
                    font-size: 1.5rem;
                }

                .artist-name {
                    font-size: 2rem;
                    font-weight: bold;
                }

                button {
                    background-color: $spotify;
                    color: white;
                    border: 1px solid $spotify;
                    border-radius: 30px;
                    padding: 12px 30px;
                    font-size: .5rem;
                    font-weight: bold;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    text-align: center;

                    &:hover,
                    &:focus {
                        transition: all .5s;
                        background-color: #07d452;
                        color: black;
                    }
                }
            }
        }
    }
}